<launch>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we start rviz -->
  <arg name="use_gui" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="robot_name" default="hsrb" />

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="true"/>

  <arg name="upload_robot_model_launch" default="$(find hsrb_description)/robots/upload_hsrb.launch" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find hsrb_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="joint_states_topic" value="/hsrb/joint_states" />
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="upload_robot_model_launch" value="$(arg upload_robot_model_launch)"/>
  </include>


</launch>
